body {
  background-image: linear-gradient(#121230, #030308);
}

.title {
  font-family: "HarryP", sans-serif;
  font-size: 7rem;
  font-weight: 400;
}

#houses {
  gap: 2.5rem;
}
#houses div {
  font-family: "Csartemiodrawn", sans-serif;
}

.column {
  max-width: 720px;
  width: 100%;
}

summary {
  list-style: none;
  cursor: pointer;
  color: #fff;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  position: relative;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #7390D9;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  transform-origin: center;
  z-index: -1;
  opacity: 0.4;
  border-radius: inherit;
  border-radius: 0.75rem;
}

summary:hover::before {
  transform: scale(1);
}

.house-name {
  z-index: 1;
}

.box {
  text-align: center;
  padding: 0;
}

.house-info {
  font-size: 1.1rem;
}

.section {
  min-height: 100vh;
}


