@font-face {
    font-family: "HarryP";
    src: url("./HarryP-MVZ6w.ttf") format("truetype");
} 

@font-face {
    font-family: "Csartemiodrawn";
    src: url("./CsartemiodrawnRegularDemo-G3YKa.otf") format("opentype");
}